<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>I.Helpr Homepage</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
    <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/navigationBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/homePage.css' %}">
    <link rel="stylesheet" href="{% static 'css/myPage.css' %}"> {% block scripts %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        var xhr;

        var selected_value = 0;
        jQuery(document).ready(function($) {

            $(".btnrating").on('click', (function(e) {

                var previous_value = $("#selected_rating").val();

                selected_value = $(this).attr("data-attr");
                $("#selected_rating").val(selected_value);

                $(".selected-rating").empty();
                $(".selected-rating").html(selected_value);

                for (i = 1; i <= selected_value; ++i) {
                    $("#rating-star-" + i).toggleClass('btn-warning');
                    $("#rating-star-" + i).toggleClass('btn-default');
                }

                for (ix = 1; ix <= previous_value; ++ix) {
                    $("#rating-star-" + ix).toggleClass('btn-warning');
                    $("#rating-star-" + ix).toggleClass('btn-default');
                }
            }));
        });

        function write_review(userId, other, user_type) {

            var message_content = document.getElementById("reviewContent").value;
            var usedService = document.getElementById("checkUsed");
            var sender_type = "";

            if (message_content == '') {
                alert("Message content is empty!");
                document.getElementById("reviewContent").focus();
                return false;
            }
            if (selected_value == 0) {
                alert("Didn't select the raings!");
                return false;
            }

            strurl = "/write_review";
            if (document.getElementById('usedService').checked) {
                usedService = "True"
            } else {
                usedService = "False"
            }

            if (user_type == "Parent") {
                sender_type = "P"
            } else if (user_type == "Sitter") {
                sender_type = "S"
            } else {
                alert("Wrong Input")
            }
            var data = JSON.stringify({
                "review": {
                    "rating": selected_value,
                    "reviewer_id": userId + sender_type,
                    "reviewed_user_id": other,
                    "review_content": message_content,
                    "after_service": usedService
                }
            });

            try {
                xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4) {
                        location.href = "messages"
                    }
                };
                xhr.open("POST", strurl);
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                xhr.send(data);
            } catch (e) {
                console.log(e);
            }
        }
    </script>
    {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar navbar-custom navbar-expand-md navbar-dark fixed-top">
            <a class="navbar-brand" href="{% url 'home' %}">I.Helpr</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'for_parents' %}">For Parents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'for_sitters' %}">For Sitters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'mypage' %}">My Page</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    {% if member_no == None %}
                    <a class="btn btn-outline-light my-2 my-sm-0" href="{% url 'sign_up' %}">Sign up</a>
                    <a class="btn btn-outline-light my-2 my-sm-0" href="{% url 'login' %}">Login</a> {% else %}
                    <a class="btn btn-outline-light my-2 my-sm-0" href="{% url 'mypage' %}">Hello {{ member_name }}!</a>
                    <a class="btn btn-outline-light my-2 my-sm-0" href="{% url 'logout' %}">Logout</a> {% endif %}
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row" id="row_style">

            <div class="col-md-12">
                <h4 style="color:#88beac;">Rating & Review</h4>
                <br>
                <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
                <div class="form-group" id="rating-ability-wrapper">
                    <label class="control-label" for="rating">
                        <span class="field-label-header"></span><br>
                        <span class="field-label-info"></span>
                        <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
                    </label>
                    <h2 class="bold rating-header" >
                        <span class="selected-rating">0</span><small> / 5</small>
                    </h2>
                    <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="form-group">
                    <label for="messageContent">Leave the review</label>
                    <textarea class="form-control" placeholder="Type message content" id="reviewContent" rows="5"></textarea>
                </div>
                <div class="checkbox">
                    <label><input id="usedService" type="checkbox" name="usedService" value="True"> Did you actually
                        worked with this person?</label>
                </div>
                <br>

                <div class="form-group">
                    <button class="btn btn-primary" style="margin:auto; display:block;" onclick="write_review('{{member_no}}', '{{reviewReceiver}}','{{member_type}}')" id="submit">Done</button>
                </div>
            </div>
</body>

</html>