<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>I.Helpr Homepage</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
    <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/navigationBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/homePage.css' %}">
    <link rel="stylesheet" href="{% static 'css/myPage.css' %}">
</head>

<body>
    <header>
        <nav class="navbar navbar-custom navbar-expand-md navbar-dark fixed-top">
            <a class="navbar-brand" href="{% url 'home' %}">I.Helpr</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'for_parents' %}">For Parents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'for_sitters' %}">For Sitters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'mypage' %}">My Page</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    {% if member_no == None %}
                    <a class="btn btn-outline-light my-2 my-sm-0" href="{% url 'sign_up' %}">Sign up</a>
                    <a class="btn btn-outline-light my-2 my-sm-0" href="{% url 'login' %}">Login</a> {% else %}
                    <a class="btn btn-outline-light my-2 my-sm-0" href="{% url 'mypage' %}">Hello {{ member_name }}!</a>
                    <a class="btn btn-outline-light my-2 my-sm-0" href="{% url 'logout' %}">Logout</a> {% endif %}
                </form>
            </div>
        </nav>
    </header>

    <div class="container">
        <h2>Messages</h2>
        <div class="col-md-12 ">
            <h4 style="color:#88beac;">view messages</h4>
            <div class="col-md-12">
                <table class="table">

                    <thead>
                        <tr>
                            <th>Sender</th>
                            <th>content</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in conversation.items %}
                        <tr>
                            <td>{{value.name}}</td>
                            <td>{{value.content}}</a>
                            </td>
                            <td>{{value.date}}</td>
                        </tr>
                        {% empty %}
                        <td></td>
                        <td>No result!</td>
                        {% endfor %}
                    </tbody>
                </table>

                <form action="{% url 'in_view_send_msg' %}" method="get">
                    {% csrf_token %}
                    <div class="input-group input-group-lg">
                        <input class="form-control input-mb" width="60%" type="text" placeholder="Write message to send"
                            aria-label="text" name="message_content">
                        <button class="btn btn-info my-2 my-sm-0" type="submit">Send</button>
                    </div>
                    <br>
                    <div class="col-md-12 text-center">
                        <a rel="prev" type="button" class="btn btn-light" style="right: 50%;"
                            href="{%url 'messages'%}">Go
                            back</a>
                    </div>
                </form>
            </div>
        </div>
        <br>
    </div>
</body>


</html>